@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

.loading{
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
.cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 50px;
}
.card{
  width:20%;
  margin: 5px;
}
.cat-img{
  width:200px;
  height: 200px;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-bottom: 15px;
}
header{
  background-color: #CCBAB0;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10%;
  margin-bottom: 15px;
}
.title  {
  font-family: 'Birthstone', cursive;
  font-size: 30px;
  font-weight: bold;
}
header p{
  font-family: 'Courgette', cursive;

}
@media (max-width:1060px){
  .card{
    width:32%;
  }
  .cards{
    margin-left: 30px;
  }
  header{
    flex-direction: column;
  }
  .title  {
    font-size: 22px;
  }
}
@media (max-width:600px){
  .card{
    width:50%;
  }
  .cards{
    margin-left: -60px;
  }
 
}